* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #acbcca;
    overflow: hidden;
}

.clock {
    position: relative;
    width: 450px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9d5e0;
    border-radius: 50px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    box-shadow: 45px 45px 45px -15px rgba(0,0,0,0.15), 
    inset 15px 15px 10px rgba(255,255,255,0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55),
    inset -2px -2px 15px rgba(0, 0, 0, 0.2);
}

.clock#big-clock {
    margin-right: 30%;
    min-width: 450px;
    min-height: 550px;
    
}

.numbers {
    position: absolute;
    top: 30px;
    height: 390px;
    width: 390px;
    background-color: #152b4a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 22px #152b4a66,
    inset 7px 7px 7px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
}

.numbers::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #ff2972;
    z-index: 10000000;
    box-shadow: 0 0 0 1px #ff2972,
    0 0 0 3px #fff,
    0 0 5px 5px rgba(0, 0, 0, 0.15);

}

.numbers span {
    position: absolute;
    inset: 15px;
    text-align: center;
    color: white;
    font-size: 1.25em;
    transform: rotate(calc(30deg * var(--i)));
}

.numbers span b {
    font-weight: 400;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.numbers .circle {
    position: absolute;
    height: 280px;
    width: 280px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 10;
}

.circle i {
    position: absolute;
    height: 50%;
    width: 6px;
    background-color: var(--clr);
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle#sec i {
    width: 2px;
}

.circle#min i {
    width: 4px;
}

.circle#min {
    height: 230px;
    width: 230px;
}

.circle#hrs {
    height: 180px;
    width: 180px;
}

.numbers .circle::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    background-color: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}

#time {
    position: absolute;
    bottom: 35px;
    display: flex;
    font-size: 2em;
    background-color: #13213A;
    padding: 10px 20px;
    border-radius: 40px;
    box-shadow: 7px 7px 22px #152b4a66,
    inset 7px 7px 7px rgba(255, 255, 255, 0.55),
    -9px -9px 15px rgba(255, 255, 255, 1);
}

#time div {
    position: relative;
    width: 60px;
    color: var(--clr);
    text-align: center;
    opacity: 0.75;
    font-weight: 600;
}

#time div:last-child {
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after {
    content: ":";
    position: absolute;
    right: -4px;
    bottom: 3px;
}

#time div:nth-child(2)::after {
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}





/* ----------Small Clock--------- */
.clock#small-clock {
    position: relative;
    height: 280px;
    width: 280px;
    border-radius: 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12%;
    top: 10%;
}

#small-clock .numbers {
    position: static;
    max-height: 80%;
    max-width: 80%;
}

#small-clock .numbers span {
    inset: 35px;
}

#circle {
    position: relative;
    background: linear-gradient(royalblue, #ff2972);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle::after {
    content: "";
    background-color: #152b4a;
    height: 155px;
    width: 155px;
    position: absolute;
    border-radius: 50%;
}


/* .small-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 155px;
    width: 155px;
    border-radius: 50%;
} */

#circle div {
    position: absolute;
    height: 95%;
    width: 95%;
    z-index: 99;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle div i {
    height: 70%;
    width: 4px;
    background-color: var(--clr);
    transform-origin: bottom;
    transform: scaleY(0.5);
}

#circle #second {
    width: 2px;
}

#circle #hour i {
    height: 50%;
}

#circle #minute i {
    height: 60%;
    width: 3px;
}

.small-circle#hour i {
    height: 40%;
}










/* -----------Background----------- */
.background .clock {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    z-index: -20;
    height: 300px;
    width: 300px;
}

.background .clock:nth-child(1) {
    top: -120px;
    left: -50px;
}

.background .clock:nth-child(2) {
    top: -220px;
    right: -100px;
}

.background .clock:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
    right: -150px;
}

.background .clock:nth-child(4) {
    bottom: -220px;
    left: -100px;
}

.background .clock:nth-child(5) {
    bottom: -250px;
    right: -50px;
}




@media (max-width: 800px) {
    .clock#small-clock {
        display: none;
    }
}